{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
    <div class="alert alert-warning">
        <p>{% trans "2ndhandcam scheduled maintenance." %}</p>
    </div>    
</div>    
{% endblock content %}