<div dir="rtl">
<p>شكراً لكم للتسجيل في موقع 2ndHandCam .ولتنشيط الحساب الرجاء الضغط على الرابط أدناة:-</p>

<p><a href="{{ confirm_url }}">تنشيط الحساب</a></p>
<br>
<p>أو قم بنسخ العنوان ادناة .</p>
<p>	{{ confirm_url }}</p>
</div>