<p>Request for commercial account for 2ndhandcam.com:</p>

<p>Company Name (Store Name): {{ name }}</p>
<p>Email: {{ email }}</p>
<p>Contact Number: {{ mobile }}</p>
<p>Country: {{ country }}</p>
<p>Message:</p>
<p>{{ message }}</p>