<p>Suggestion for 2ndhandcam.com:</p>

<p>Name: {{ name }}</p>
<p>Email: {{ email }}</p>
<p>Mobile: {{ mobile }}</p>
<p>Country: {{ country }}</p>
<p>Subject: {{ subject }}</p>
<p>Suggestion:</p>
<p>{{ suggestion }}</p>

