body {
	font-family: Open Sans, Arial, san-serif;
}


.page {
    max-width: 1196px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 20px 1px rgba(0,0,0,.2);
    -webkit-font-smoothing: subpixel-antialiased;
}

h2, strong{
    font-weight: bolder;
    color: #165485;
}

ul {
    margin-bottom: 0;
}

li > p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.btn-block {
    width: 90% !important;
}

.textwidth {
    width: 95%;
}


.navbar-custom {
    background-color: #fff;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link a {
    color: rgba(102,102,102,1);
    font-size: 1.4em;
}

.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

.awhite {
    color: #165485;
}

.awhite:hover {
    color: #165485;
    text-decoration: none;
}

.test{
	color: #00FFFF;
}

.testcss div {
    display: block;
}

.remmarge {
    margin-bottom: 0px;
}

.labeltext {
    color: #165485;
    font-weight: 700;
}

.pstyle {
    font-size: 14px;
    line-height: 5px;
}

.seller-top {
    border-bottom: 6px solid #d9d9d9;
}

.colorbackbrand {
    background-image: url('grayback.jpg')
}

.nomarge {
    margin-bottom: 0 !important;
}


.colorbackbrand h1 {
    color: #fff;
}

.seller-style {
    color: #165485;
    font-size: 16px;
    line-height: 5px;
}

.condition-style {
    color: #f7931e;
    font-size: 16px;
    line-height: 5px;
}

.act-style {
    color: #737373;
}

.leftprice {
    padding: 10px;
}

.left-bord {
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
}

.priceleft {
    font-size: 22px;
    padding-top: 4px;

}

.priceright {
    font-size: 28px;
    color: #b34700;
    margin-left: 15px;
}

.padtop {
    padding-top: 5px;
}

.phigh {
    color: #737373;
    font-weight: 600;

}

.testcenter li {
    display: inline-block;
    text-align:center; 
}

/*
    LINKS
*/
.active{
    color: #165485;
    border-color: #ffffff;
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

h6::before, h6::after{
    border-left:6px solid transparent;
    border-top:6px solid #8f8f8f;
    border-right:6px solid transparent;
    content:"";
    display:block;
    height:0;
    right:10px;
    position:absolute;
    top:5px;
    width: 0;
}

h6::after {
    border-left:6px solid #fff;
    right:12px;
}


.bg-company-orange {
    background-color: #ecf3ff;
}


.serchtop {
    background-color: #165485;
    padding: 5px; 
}

.brandcss {
    padding: 5px; 
    max-height: 150px;
    overflow-y: auto;
    height: 101%;

}

.clanheader {
    padding: 5px; 
    background: #fff;
    margin-bottom: 10px;
}

.colorsearch {
    color: #fff;
}



.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.category {
    padding-bottom: 20px;
}

.lighting-category {
    padding-bottom: 20px;
    width: 80%;
    margin-left: 10%;
}

#monolight-brand:hover{
    background: #f9f8f6;
    color: white;
}

#choose-category:hover{
    background: #f9f8f6;
    color: rgb(111, 179, 210);
}

.selected {
    background: #f9f8f6;
    color: rgb(111, 179, 210);
}

/*
    HOW IT WORKS
*/
.how-it-works {
    background-color: rgb(42, 47, 58);
    padding: 10px;
    color: #fff;
}
.page-header {
    text-align: center;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 43%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.badge-text {
    color: rgb(252, 109, 36);
    font-size: 25px;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #fff !important;
}

.timeline-title {
    margin-top: 0;
    /*color: inherit;*/
    color : rgb(252, 109, 36);
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/*
    SELL BRANDS
*/
#choose-brand a:hover {
    background: #00a651;           
}


/*
    BUY CAMERA DETAILS TABS
*/
.tabs {
    width: 90%;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.tabs-1 .tab-links {
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    border-bottom: 1px solid #868686;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
    position: relative;
    top: 5px;
}

.tabs-1 .tab-link {
    padding: 0 15px;
    cursor: pointer;
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 41px;
    top: -6px;
    left: -1px;
    color: #165485;
}

.tabs-1 .tab-link-active {
    font-weight: bold;
    border: 1px solid #868686;
    border-bottom: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    color: #165485;
}

.tabs-1 .content {
    padding: 15px;
    
    border-top: 1px solid transparent;
    color: #737373;
}

.tabs-1 .tabContent: {}

/*
    LOADING TEXT
*/
.loading {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    color: gray;
}


/*
    LIGHTING AND ACCESSORIES COMPLETE FORM
*/
.form-only {
    width: 75%;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


/*
    FOOTER
*/
.footer-basic-centered{
  background-color: #ddd; /*#292c2f;*/
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 10px;
  /*margin-top: 80px;*/
  position : fixed;
  bottom : 0;
  height : 60px;
  margin-top : 40px;
}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}


// CSS animation got from https://projects.lukehaas.me/css-loaders/
// Created by @lukehaas https://twitter.com/lukehaas

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #575757;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}