{% load bootstrap3 %}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="col-md-8 col-md-offset-2">
<h1>Welcome!</h1>
<br>
<div class="centeredone">
	<p>You have not confirmed your account. Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</p>
	<p>Didn't get the email?<a href="/new-activation-link/{{request.user.pk}}">Resend</a>.</p>
</div>
</div>
</body>
</html>