{% load bootstrap3 %}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-4 col-md-offset-4 well well-sm">
    	<h2>Welcome to 2ndhandcam</h2>
		<br>
		<a href="login">Login</a>
		<a href="registration">Register</a>
	</div>
</div>

</body>
</html>
