{% load bootstrap3 %}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<h1>Welcome to 2ndhandcam</h1>
	
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
			<form method="post" class="form" enctype="multipart/form-data" >
				{% csrf_token %}
				  
				{% bootstrap_form login_form %}
				
			  <input type="submit" name="submit" class="btn btn-success btn-lg" id="submit" value="Login">
			</form>
		</div>
	</div>
</body>
</html>