<p>Welcome to 2ndHandCam! Thank you for signing up. Please follow this link to activate your account:</p>

<p><a href="{{ confirm_url }}">Activate account</a></p>
<br>
<p>Or copy link to your browser</p>
<p>		{{ confirm_url }}</p>
<p>Good Day from 2ndhandcam!</p>