{% load bootstrap3 %}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-4 col-md-offset-4 well well-sm">
		<form method="post" class="form" enctype="multipart/form-data" >
			{% csrf_token %}
			  
			<h2>Sign Up</h2>

			{% bootstrap_form user_form %}
			{% bootstrap_form profile_form %}  

		  	<!--input type="submit" name="submit" class="btn btn-primary pull-right" id="submit" value="Signup"-->
		 	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    		<div class="clearfix"></div>
		</form>
	</div>
</div>

</body>
</html>
