body {
  font-family: Roboto,sans-serif;
}


.page {
    max-width: 1196px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 20px 1px rgba(0,0,0,.2);
    -webkit-font-smoothing: subpixel-antialiased;
}

h2, strong{
    font-weight: bolder;
    color: #165485;
}

ul {
    margin-bottom: 0;
}

li > p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.btn-block {
    width: 90% !important;
}

.textwidth {
    width: 95%;
}


.navbar-custom {
    background-color: #fff;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link a {
    color: rgba(102,102,102,1);
    font-size: 1.4em;
}

.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

.awhite {
    color: #f4a72e;
}

.awhite:hover {
    color: #f4a72e;
    text-decoration: none;
}

.test{
  color: #00FFFF;
}

.testcss div {
    display: block;
}

.remmarge {
    margin-bottom: 0px;
}

.labeltext {
    color: #0062cc;
    font-weight: 700;
    /*display: inline;*/
    font-size: 36px;
    line-height: 45px;
    margin: 0 7px 0 0;
}

.pstyle {
    font-size: 14px;
    line-height: 5px;
}

.pfontcolor {
  color: #737373;
}

.seller-top {
    border-bottom: 6px solid #3d4041;
}

.colorbackbrand {
    background-image: url('grayback.jpg')
}

.brand-header {
    color: #3d4041;
    font-size: 55px;
    font-weight: 900;
    background-color: #ecebea;
}

.nomarge {
    margin-bottom: 0 !important;
}


.colorbackbrand h1 {
    color: #fff;
}

.seller-style {
    color: #165485;
    font-size: 16px;
    line-height: 5px;
}

.condition-style {
    color: #f7931e;
    font-size: 16px;
    line-height: 20px;
}

.act-style {
    color: #737373;
}

.leftprice {
    padding: 10px;
}

.left-bord {
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
}

.priceleft {
    font-size: 22px;
    padding-top: 4px;

}

.priceright {
    font-size: 25px;
    color: #b34700;
    /**margin-left: 15px;**/
}

.padtop {
    padding-top: 5px;
}

.padtop25 {
    padding-top: 25px; 
}

.padright25 {
    padding-right: 25px; 
}

.phigh {
    color: #f4a72e; /*#737373*/
    font-weight: 600;
}

.testcenter li {
    display: inline-block;
    text-align:center; 
}

/*
    LINKS
*/
.active{
    color: #f4a72e;
    border-color: #ffffff;
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

h6::before, h6::after{
    /*border-left:6px solid transparent;
    border-top:6px solid #8f8f8f;
    border-right:6px solid transparent;*/
    content:"";
    display:block;
    height:0;
    right:10px;
    position:absolute;
    top:5px;
    width: 0;
}

h6::after {
    border-left:6px solid #fff;
    right:12px;
}


.bg-company-orange {
    background-color: #3d4041;
    height: 50px;
    line-height: 50px;
}


.serchtop {
    background-color: #165485;
    color: white;
    padding: 5px; 
}

.brandcss {
    padding: 5px; 
    max-height: 150px;
    overflow-y: auto;
    height: 101%;

}

.clanheader {
    padding: 5px; 
    background: #fff;
    margin-bottom: 10px;
}

.colorsearch {
    color: #fff;
    font-family: Cairo;
    padding-left: 10px;
    padding-right: 10px;
}



.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.category {
    padding-bottom: 20px;
}

.lighting-category {
    padding-bottom: 20px;
    width: 80%;
    margin-left: 10%;
}

#choose-category > button {
  min-width: 122px;
}

.lighting-category > .colitems {
  min-width: 256px;
}

#monolight-brand:hover{
    background: #f9f8f6;
    color: white;
}

#choose-category {
    text-align: center;
}

#choose-category:hover{
    font-weight: bold;
    text-align: center;
}

.selected-cat {
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3d4041;
    color: #f4a72e;
}

.default {
    padding: 10px;
    background-color: #8d9093;
    color: black;
}

/*
    HOW IT WORKS
*/
.how-it-works {
    background-color: rgb(42, 47, 58);
    padding: 10px;
    color: #fff;
}
.page-header {
    text-align: center;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 43%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 5px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.badge-text {
    color: rgb(252, 109, 36);
    font-size: 25px;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #fff !important;
}

.timeline-title {
    margin-top: 0;
    /*color: inherit;*/
    color : rgb(252, 109, 36);
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/*
    SELL BRANDS
*/
/*#choose-brand a:hover {
    background-color: #f7f7f7;           
}*/


/*
    BUY CAMERA DETAILS TABS
*/
.tabs {
    width: 90%;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.tabs-1 .tab-links {
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
    border-bottom: 1px solid #868686;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
    position: relative;
    top: 5px;
    background-color: #f4a72e;
}

.tabs-1 .tab-link {
    padding: 0 15px;
    cursor: pointer;
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 41px;
    top: -6px;
    left: -1px;
    color: #165485;
}

.tabs-1 .tab-link-active {
    font-weight: bold;
    border: 1px solid #868686;
    border-bottom: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f4a72e;
    color: #165485;
}

.tabs-1 .content {
    padding: 15px;
    
    border-top: 1px solid transparent;
    color: #737373;
}

.tabs-1 .tabContent: {}

/*
    LOADING TEXT
*/
.loading {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    color: gray;
}


/*
    LIGHTING AND ACCESSORIES COMPLETE FORM
*/
.form-only {
    width: 75%;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


/*
    FOOTER
*/
.footer-basic-centered{
  background-color: #ddd; /*#292c2f;*/
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 10px;
  position : fixed;
  bottom : 0;
  height : 60px;
  /*margin-top : 40px;*/
}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}


// CSS animation got from https://projects.lukehaas.me/css-loaders/
// Created by @lukehaas https://twitter.com/lukehaas

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #575757;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/*
    INBOX
*/
.message-unread{
    font-weight: bold;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}

.round {
    right: 21%;
    top: 4%;
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
    font-size: x-small;
}

.rounddash {
    right: 35%;
    top: 4%;
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
    font-size: x-small;
}

.rounddash.orange {
    background-color: #FF6701;
}

.round.hollow {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFF;    
    color: #222;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
}

.round.orange {
    background-color: #FF6701;
}

.round.hollow.orange {
    color: #FF6701;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #FF6701;
    -moz-box-shadow: 0px 0px 0px 3px #FF6701;
    box-shadow: 0px 0px 0px 3px #FF6701;
}


.table-header {
    background-color: #f4a72e;    
}

.item-sold {
    color: #999ea2;
}

.black-font {
    font-weight: 600;
    color: #737373;
}

.black-font14px {
    font-size: 14px;
    font-weight: 600;
    color: #737373;
}

/**

    CONFIRMRATION MODAL
**/
.test-button{
  font-size: 20px;
  color: gray;
  padding: 5px;
  margin: 20px;
}
.modals {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height: 300px;
}
.modal-wrapper{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  min-width: 500px;
  position: relative;
}
/*.text {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
    text-align: center;
}*/
.buttons {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
.modal-button {
  font-size: 15px;
  color: gray;
  padding: 5px;
  border-radius: 5px;
}
.close {
  position: absolute;
  top: 10px;
  right: 0px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}
.modal-content {
  background:  rgba(193, 29, 29,0.5);
  color: #fff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/**
    ADD LENS MODAL
**/
.lens-modals {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height: 300px;
}
.lens-modal-wrapper{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lens-modal {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  min-width: 500px;
  position: relative;
}
.lens-text {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
    text-align: center;
}
.lens-buttons {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
.lens-modal-button {
  font-size: 15px;
  color: gray;
  padding: 5px;
  border-radius: 5px;
}
.lens-close {
  position: absolute;
  top: 10px;
  right: 0px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}
.lens-modal-content {
  background:  rgba(193, 29, 29,0.5);
  color: #fff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
    height: 600px;
    overflow-y: scroll; 
    padding: 20px;
}

.acc-frame {
    height: 420px;
    overflow-y: scroll; 
    padding: 20px;
}

.remove-frame {
    height: 175px;
    overflow-y: scroll; 
    padding: 20px;
}

.forget-frame {
    height: 317px;
    overflow-y: scroll; 
    padding: 20px;
}

.sentnotice-frame {
    overflow-y: scroll; 
    padding: 20px;
}

.addinglensaccnote-frame {
    overflow-y: scroll; 
    padding: 20px;
}

.blue-font {
    color: #007bff;
}

.comment-input {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*
    UNDER CONSTRUCTION PAGE

*/
.bgblack {
    background-color: #0d0d0d !important;
}
.construction {
    height: 100%;
    width: 100%;
    background: black;
}

.content-main {
    position:absolute;
    left: 17%;
    width: 60%;
    /*margin-top:50px;
    top:50%;
    left:50%;
    margin-left:-100px; half width 
    margin-top:-300px;  half height*/
}

.wrapper {
  display: flex;
}

.uploadCam {
  flex: 0 0 50%;
}

.uploadLens {
  flex: 1;
}

.thirdWindow{
  padding-top: 100px;
  text-align: center;
}

.thirdWindowButton{
  text-align: center;
}

.addButtonMargin{
  margin-left: 20px;
}

.errorMessage{
  color: red;
}

.details{
  padding-top: 20px;
}

.tabContent {
  padding: 15px;
}

.brandimgheight{
  height: 75px;
}

.redFont {
  color: red;
}

.greenFont {
  color: green;
}

.commentsDiv {
  padding: 10px;
  min-height: 100px;
  color: #495057;
}

.owned {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  /*width: 80%;*/
  text-align: justify;
  text-justify: inter-word;
}

.fixedclosed {
  position: fixed;
  right: 2%;
}

.sk-search-box{
  background: #a7abaf !important;
}

.sk-search-box__icon{
  padding-right: 10px !important;
}

.sk-search-box__icon::before{
  /*background: url(https://res.abc.net.au/bundles/2.1.0/images/icon-search-grey@1x.png)no-repeat center left !important;*/
  background: url('search-12-24.png')no-repeat center left !important;
  height: 30px !important;
  width: 30px !important;
}

.spinner {
  min-height: 150px;
  width: 100%;
}

.gyQnsE > div {
  color: blue;
}

/*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/

/*body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
*/
/*@media(device-width: 768px) and (device-height: 1024px){*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/*}*/

.replyBox {
  width: 95%;
  height: 200px;
}

.boxstyle {
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
}

.span-right {
  float: right;
}

.span-left {
  float: left;
  padding-left: 5px;
}

.blue-font {
  color: #007bff;
}

.ninety {
  width: 90% !important;
}

.topspace {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.topspace20 {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.addPackageButton {
    padding: 6px 23px;
    background: #3f4257;
    border-radius: 30px;
    color: white;
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0;
    transition: all 0.2s ease-in;
    cursor: pointer;
    outline: none;
    border: none;
}

.top-align-td {
   vertical-align: top; 
}

.content-justify {
  text-align: justify;
  text-justify: inter-word;
}

.camStyle {
  width: 400;
  height: auto;
}

.choose-cat {
  color: #165485;
  font-weight: bolder;
}

.front {
  min-height: 700px;
}

.front-back {
  width: 100%;
  height: 100%;
  background-image: url('main.jpg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right 50% top 75%;
  background-attachment: fixed;
}

.main-logo {
  text-align: center;
  padding-top: 1%;
}

.acc-back {
  width: 100%;
  height: 100%;
  background-image: url('Accessories.jpg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right 50% top 100%;
  background-attachment: fixed;
  min-height: 632px;
}

.lighting-back {
  width: 100%;
  height: 100%;
  background-image: url('Lighting.jpg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right 50% top 100%;
  background-attachment: fixed;
  min-height: 632px;
}

.lens-back {
  width: 100%;
  height: 100%;
  background-image: url('Lenses.jpg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right 50% top 100%;
  background-attachment: fixed;
  min-height: 632px;
}

.camera-back {
  width: 100%;
  height: 100%;
  background-image: url('Camera.jpg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right 50% top 100%;
  background-attachment: fixed;
  min-height: 632px;
}

.vidcam-back {
  width: 100%;
  height: 100%;
  background-image: url('Video_Cameras.jpg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right 50% top 100%;
  background-attachment: fixed;
  min-height: 632px;
}

.drone-back {
  width: 100%;
  height: 100%;
  background-image: url('Drons.png');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right 50% top 100%;
  background-attachment: fixed;
  min-height: 632px;
}

@media (max-width: 767px) {
  .acc-back, .lighting-back, .lens-back, .camera-back, .vidcam-cam {
    background-position: right 50% top 50%;
  }
}

.category-body {
  min-height: 600px;
}

.arrow-side {
  width: 0; 
  height: 0; 
  
  border-right: 30px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid #3d4041;
}

.side-arrow {
  display: inline-block;
  position: relative;
  background: #3d4041;
  padding: 5px;
}
.side-arrow:after {
  content: '';
  display: block;  
  position: absolute;
  left: 100%;
  top: -103%;
  width: 0;
  height: 0;
  border-right: 34px solid transparent;
  border-top: 35px solid transparent;
  border-bottom: 34px solid #3d4041;
}

.side-arrow-rtl {
  display: inline-block;
  position: relative;
  background: #3d4041;
  padding: 5px;
}
.side-arrow-rtl:after {
  content: '';
  display: block;  
  position: absolute;
  right: 100%;
  top: -103%;
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-top: 35px solid transparent;
  border-bottom: 34px solid #3d4041;
}

.gray-background {
  background: #3d4041;
}

.gray-font {
  color: #3d4041;
}

.orange-background {
  background: #f4a72e;
}

.orange-font {
  color: #f4a72e;
}

.form-border {
  border: 2px solid #3d4041 !important;
}

.bigHr {
    background-color: #3d4041 !important;
    color: #3d4041 !important;
    border: solid 1px dimgrey !important;
    width: 100% !important;
}

.filter-title {
  padding: 5px;
  color: #f4a72e;
  background-color: #3d4041;
  font-family: Cairo;
}

.price-border {
  border: 2px solid #3d4041;
  border-radius: 5px;
  padding: 10px;
}

.line-for-arrow {
  flex-grow: 15;
  height: 7px;
  background: #3d4041;
  position: relative;
}

.line-for-arrow.arrow-right:after {
  position: absolute;
  content: '';
  bottom: 0px;
  right: -34px;
  width: 0;
  height: 0;

  border-right: 35px solid transparent;
  border-top: 25px solid transparent;
  border-bottom: 15px solid #3d4041;
}

.navbar-pad {
  padding:  0px 20px 0px 0px !important;
  border-bottom: 1px solid lightgray;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
}

.flex-item-buy {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 100px;
  border: 2px solid #3d4041;
  color:  white;
  background-color: #3d4041; 
  font-size: 50px;
  text-align: center;
}

.flex-item-buy:after {
  content: '';
  display: block;  
  position: absolute;
  left: -27%;
  top: -16%;
  width: 0;
  height: 0; 
  border-top: 65px solid transparent;
  border-bottom: 65px solid transparent;
  border-right: 65px solid #3d4041;
}

.flex-item-buy:hover {
  width: 250px;
}

.flex-item-buy:hover:after {
  content: '';
  display: block;  
  position: absolute;
  left: -26%;
  top: -16%;
  width: 0;
  height: 0; 
  border-top: 65px solid transparent;
  border-bottom: 65px solid transparent;
  border-right: 65px solid #3d4041;
}

.flex-item-sell {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 100px;
  border: 2px solid #f4a72e;
  color:  white;
  background-color: #f4a72e;
  font-size: 50px;
  text-align: center;
}

.flex-item-sell:after {
  content: '';
  display: block;  
  position: absolute;
  left: 100%;
  top: -16%;
  width: 0;
  height: 0;
  border-left: 65px solid #f4a72e;
  border-top: 65px solid transparent;
  border-bottom: 65px solid transparent;
}

.flex-item-sell:hover {
  width: 250px;
}

.flex-item-sell:hover:after {
  content: '';
  display: block;  
  position: absolute;
  left: 100%;
  top: -16%;
  width: 0;
  height: 0; 
  border-left: 65px solid #f4a72e;
  border-top: 65px solid transparent;
  border-bottom: 65px solid transparent;
}

/* Add a black background color */
.searchBox {
    overflow: hidden;
    background-color: #e9e9e9;
}

/* Style the search box */
.searchBox input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .searchBox input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .searchBox input[type=text] {
        border: 1px solid #ccc;
    }
}

.search {
  text-align: center;
}

.searchModel {
  width: 40%;
  padding: 0px 10px;
  font-size: 16px;
  display: inline-block;
}

/* BREADCRUMBS */
ul.breadcrumb {
    padding: 0px 16px;
    list-style: none;
    /*background-color: #3d4041;*/
    margin-bottom: 0px !important;
}
ul.breadcrumb li {
    display: inline;
    font-size: 15px;
    color: #868e96;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #3d4041;
    content: ">\00a0";
}
ul.breadcrumb li a {
    color: #3d4041;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #a2a7ad;
    text-decoration: none;
}

/* LANGUAGE MENU */
.languageMenu {
  background-color: #f4a72e;
  color: #3d4041;
  padding-right: 25px;
}

.column {
    float: left;
    width: 50%;
}

.myaccount {
    margin-top: 5px;
    text-align: right;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: 14px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*top: 27px;
    left: 80px;*/
}

.dropdown-content p {
    color: #3d4041;
    padding: 10px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a {
    color: #3d4041;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {font-weight: bold}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e4910f;
}

.selectCountry {
    text-align: center;
}

.selectLanguage {
    text-align: right;
}

/* Clear floats after the columns */
.languageMenu:after {
    content: "";
    display: table;
    clear: both;
}
/* END */

/* SELL FORM */
.form-price {
  width: 25%;
}

.form-brand {
  width: 50%;
}

.form-model {
  width: 50%;
}

.form-shuttercount {
  width: 25%;
}

.form-warranty {
  width: 34%;
}

.form-condition {
  width: 70%;
}

.form-package {
  width: 35%;
}
/* END OF SELL FORM*/

/* FLAG SELECT TOPMENU*/
.flag-select img {
  vertical-align: baseline !important;
}
/**/

/* BUY PAGE MODAL*/
.modalCloseButton{
  position: fixed;
  top: 15px;
  right: 15px;
}
/* END OF MODAL*/

.menuNotify {
  float:right;
  margin-bottom:-10px;
  background-color: #f4a72e;
}

.imageModal {
  display: flex;
  justify-content: center;
}

.inbox-container {
  background-color: #f9f9f9;
  padding: 12px;
  color: #3d4041;
}

.message-body {
  font-size: 18px;
}

.box.box-solid {
  border-top: 0;
  border: 1px solid #e9ecef;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}
.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-success {
  border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.box-header > .box-tools .dropdown-menu > li > a {
  color: #444!important;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  color: #444;
  background: #f7f7f7;
}
/* NAV PILLS */
.nav-pills > li > a {
  border-radius: 0;
  border-top: 3px solid transparent;
  color: #444;
}
.nav-pills > li > a > .fa,
.nav-pills > li > a > .glyphicon,
.nav-pills > li > a > .ion {
  margin-right: 5px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-top-color: #3c8dbc;
}
.nav-pills > li.active > a {
  font-weight: 600;
}
/* NAV STACKED */
.nav-stacked > li > a {
  border-radius: 0;
  border-top: 0;
  border-left: 3px solid transparent;
  color: #444;
}
.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover {
  background: transparent;
  color: #444;
  border-top: 0;
  border-left-color: #3c8dbc;
}
.nav-stacked > li.header {
  border-bottom: 1px solid #ddd;
  color: #777;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.messageContainer {
  font-size: 14px;
}

.side-menu p {
    color: #3d4041;
    padding: 10px 16px;
    display: block;
    text-align: left;
}

.side-menu a {
    color: #3d4041;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.side-menu a:hover {
    background-color: #f3f3f2;
}

.side-menu a.active {
    font-weight: 600;
    color: #f4a72e;
    border-left-color: #f4a72e;
}

#pagination-container {
display: flex;
justify-content: center;
}

#pagination {
display: flex;
color: #505050;
}

#pagination-list {
display: flex;
list-style: none;
margin: 0 0 0 10px;
padding: 0;
}

.pagination-button {
display: flex;
height: 25px;
width: 30px;
border: 1px solid #777;
justify-content: center;
align-items: center;
cursor: pointer;
}

.pagination-list-item {
margin-right: 10px;
}

.pagination-list-item.active {
background: #505050;
color: white;
}

.pagination-go-first {
margin-right: 40px;
position: relative;
margin-left: 10px;
}

.pagination-go-first:before {
position: absolute;
content: '...';
right: -33px;
}

.pagination-go-last {
margin-left: 40px;
position: relative;
margin-right: 10px;
}

.pagination-go-last:before {
position: absolute;
content: '...';
left: -33px;
}

/* REVIEWS */
.reviews{
    padding: 17px 21px;
    color: gray;
    font-size: 12px;
    border-bottom: 1px solid #eff0f5;
}

.top-review {
    font-size: 26px;
    margin-bottom: -20px;
}

.middle-review {

}

.bottom-review {
    margin-top: 16px;
}

.date-review {
    float: right;
    font-size: 18px;
}

.reviewer-review {
    color: #212121;
    font-size: 12px;
}

.content-review {
    color: #212121;
    font-size: 16px;
    white-space: pre-wrap;
    word-break: break-word;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

/* navigation buy and sell */
.sell-nav{
    color: #f4a72e !important;
    font-weight: bold;
}

.buy-nav{
    color: #3d4041 !important;
    font-weight: bold;
    border-right: 2px solid black;
    padding-right: 10px;
}

.login-nav{
    border-right: 2px solid rgba(102,102,102,1);
    padding-right: 10px;
}

.arabicbuysell {
    font-size: 25px !important;
}

.btn_default{
    color: #333 !important;
    background-color: #a7abaf;
}

/* EDIT ACCOUNT FORM*/
.form-username {
  width: 50%;
}
.form-first_name {
  width: 50%;
}
.form-last_name {
  width: 50%;
}
.form-email {
  width: 50%;
}
.form-city {
  width: 50%;
}
.form-country {
  width: 50%;
}
.form-phone_number {
  width: 50%;
}

.accountPhoto {
  text-align: center;
  margin-top: 55px;
}
/*END OF EDIT ACCOUNT FORM*/

/* ACTUAL PHOTO */
.actualPhoto {
  cursor: pointer;
}
/* END OF ACTUAL PHOTO */

.image-map {
  margin: auto;
}

.logo-buy:hover {
  background-color: #f4a72e;
}

.map-container {
  margin: 20px auto 0;
  position: relative;
  width: 84%;
}

.map-logo {
  margin: 0 auto;
  width: 84%;
}

img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
  width: auto;
}

.registration-container {
  background-color: #757579;
  padding: 5px; 
}

.registration-header {
    margin-top: 10px;
    background-color: #404243;
    color: #f4a72e;
    padding: 5px;
    border-radius: .2rem;
}

.margintop10 {
  margin-top: 10px;
}

.input10 {
  width: 10%;
}

.input40 {
  width: 40%;
}

.input50 {
  width: 50%;
}

.input60 {
  width: 60%;
}

.input80 {
  width: 80%;
}

.input92 {
  width: 92%;
}

.buycontainer {
  text-align: right;
  padding-right: 0px;
}

.sellcontainer {
  text-align: left;
  padding-left: 0px;
}

.buysellimage {
  opacity: 0.2;
}

.imageBuySell:hover {
  cursor: pointer;
}

.righttoleft {
  unicode-bidi: bidi-override !important;
  direction: unset !important;
  text-align: right !important;
}

.arabicfont {
  font-family: 'Cairo', sans-serif;
}

.inboxtableheaders {
  background-color: #165485;
  color: white;
}

.mainpagertl {
  padding-right: 0px !important;
}

.mainpageltr {
  padding-left: 0px !important;
}

.nav-right-pad {
  padding-right: 1.0rem !important;
}

.zeroleftpadding {
  padding-left: 0px !important;
}

.zerorightpadding {
  padding-right: 0px !important;
}

.col65percent {
  max-width: 6.5% !important;
}

.col7percent {
  max-width: 7% !important;
}

.sk-search-box__text{
  font-family: Cairo;
}

.sk-search-box{
  background-color: #165485 !important;
}

.sk-search-box__icon{
  margin: auto;  
}

.spannote {
  font-size: 11px;
  padding-left: 10px;
  padding-right: 10px;
}

.spanhowto {
  cursor: pointer;
  color:  #007bff;
}

.form-width {
  width: 50%;
  margin: 0 auto;
}

.top-align {
  vertical-align: top;
}

.lens_grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.lens_grid_hit {
  padding: 10px;
  max-width: 250px;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  flex: 190px 0 0;
}

.lens_grid_item {
  flex: 1 1 250px;
  display: flex;
  margin-bottom: 20px;
}

.center_by_margin {
  margin: 0 auto;
}

.zeropadleftright {
  padding-right: 0px;
  padding-left: 0px;
}

.sk-search-box.is-focused.sk-search-box__text  {
  color: white !important;
}

.sk-search-box.is-focused .sk-search-box__text {
    color: #fff !important;
}

label{
  margin-bottom: 0px !important;
}

.centerLensImage {
  text-align: center;
}

.sk-select {
  visibility: hidden !important;
}

.twopxleftpad {
  padding-left: 2px !important;
}

.fivepxleftpad {
  padding-left: 5%;
}

.fivepxrightpad {
  padding-right: 5%;
}

.footer-list {
  list-style: none;
  padding-left: 0px;
}

.footer-li {
  color: #fff;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.footer-title {
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
  margin: 0;
  color: #f4a72e;
  border-bottom: 1px solid #bbbbb7;
  display: inline;
}

.siteinfo {
  background-color: #3d4041;
  min-height: 165px;
  padding-top: 1px;
  position: fixed;
  bottom: 60px;
  width: 100%;
  margin-top: 2%;
}

.siteinfobigscreen {
  position: fixed;
  bottom: 60px;
  width: 100%;
}

.infoline {
  border-top: 3px solid #bbbbb7 !important;
}

.graybackground {
  background-color: #dad8d7;
}

.breadcrumb {
  background-color: #ecebea !important;
}

.infolink {
  color: white;
  text-decoration: none;
}

.infolink:hover {
  color: #bbbbb7;
}

.infoForms {
  display: block;
  clear: both;
}

.aboutForms {
  display: block;
  clear: both;
  box-shadow: 0px 15px 0px 0px white, 0px -15px 0px 0px white, 5px 0px 8px #868484, -5px 0px 8px #444;
}

.sentnotice {
  padding-top: 40px;
  font-size: 18px;
}

.modalButton {
  font-size: 0.85rem !important;
}

.homelogo {
  background-image: url("/static/media_cdn/images/English-2.png");
  background-repeat: no-repeat;
  background-position: right 50% top 60%;
  background-attachment: fixed;
  min-height: 600px;
}

.homelogo50 {
  background-image: url("/static/media_cdn/images/English-2-50opacity.png");
  background-repeat: no-repeat;
  background-position: right 50% top 60%;
  background-attachment: fixed;
  min-height: 600px;
}

.secondhandlogo {
  background-image: url("logo-background.png");
  background-repeat: no-repeat;
  background-position: right 50% top 60%;
  background-attachment: fixed;
  min-height: 600px;
}

.grayback-orangetext {
  background: #304041;
  color: #f4a72e;
}

.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}

.margin-right {
  margin-right: 5px;
}

.margin-right10 {
  margin-right: 10px;
}

.margin-right5 {
  margin-right: 5%;
}

.margin-right1 {
  margin-right: 1%;
}

.margin-top20 {
  margin-top: 20px;
}

.navbar-gray a {
  color: rgba(102,102,102,1);
}

.loginregcontainer {
  /*height: 30%;*/
  top: 35%;
  position: absolute;
  right: 30%;
  box-shadow: 5px 10px 8px 10px #aeaeae;
}

.login-form {
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 19px;
  border-radius: 4px;
}

.marginTB-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.ul-margin {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.register-header-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

.zerotopbottompad {
  padding-top: 0px;
  padding-bottom: 0px;
}

.width3rem {
  width: 3rem;
}

/*
  VIDEO REVIEWS
*/
.video-item img {
    max-width: 64%;
}

.video-detail .details .title {
    font-weight: bold;
}

.video-detail .details .desc {
    font-size: 14px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #eee
}

.list-group-item {
    cursor: pointer;
}

.list-group-item a {
  text-decoration: none;
}

.list-group-item:hover {
    background-color: #eee;
}

.padding10 {
  padding: 10px;
}

.required::after {
    content: " *";
    color: red;
    font-size: 15px;
    font-weight: bold;
    vertical-align: sub;
}

.react-confirm-alert-button-group {
    justify-content: center !important;
}

.react-confirm-alert {
    text-align: center !important;
}

.btn-default:hover {
    background-color: #d8d4d4;
    border-color: #868484;
}

.fixtablelayout{
  table-layout: fixed;
}

.dashboard #content {
  width: 60% !important;
}

.dash-container {
  overflow-x:auto;
  min-height: 600px;
}

.active_filter {
  background-color: #79aec8;
}

/*
  django-tables2
*/
table.table thead th.orderable { background: url('sort_both.png') no-repeat center; }
table.table thead th.asc { background: url('sort_asc.png') no-repeat center; }
table.table thead th.desc { background: url('sort_desc.png') no-repeat center; }

table#tablereport.table.table-striped.fixtablelayout thead th {
    background: #417690 !important;
}

table#tablereport.table.table-striped.fixtablelayout thead th a:link, thead th a:visited {
    color: #e2dede !important;
}

.table-container table thead th{
    background: #417690 !important;
}

.table-container table thead th a:link, thead th a:visited {
    color: #e2dede !important;
}

.rowcolumn {
  width: 50px;
  background: #417690 !important;
}

.emailmodal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

/*
  admin tables caption
*/
.module caption {
    caption-side: top !important;  
}

.table-90 {
    width: 90% !important;
}

table#result_list thead th {
    color: #e2dede;
    background: #417690 !important;
}

table#result_list thead th .text a {
    color: #e2dede;
}

/*
  edit page uploaded photos
*/
.deleteUploadedImage {
    position: absolute;
    top: -9px;
    right: -9px;
    font-size: 8px;
    color: #fff;
    background: #ff4081;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

/*
  mobile zoom
*/
input[type='text'],
input[type='number'],
input[type='email'],
textarea {
  font-size: 16px !important;
}

/*@media screen and (min-width: 1922px) {
    .footer-basic-centered {
        position: fixed;
        bottom: 0px;
    }

    .siteinfo {
        position: fixed;
        bottom: 60px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .footer-basic-centered {
        position: fixed;
        bottom: 0px;
    }

    .siteinfo {
        position: fixed;
        bottom: 60px;
        width: 100%;
    }
}*/
