{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% load reports %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}


{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}
    

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">{% trans "Home" %}</a> >{% trans "Report" %}
	</div>
{% endblock %}

{% block content-navbar-collapse %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<button class="btn {{active_all}}" onclick="location.href='/api/reports/all/all/all/'">All</button>
		<button class="btn {{active_active}}" onclick="location.href='/api/reports/Active/all/all/'">Active</button>
		<button class="btn {{active_sold}}" onclick="location.href='/api/reports/Sold/all/all/'">Sold</button>
		<button class="btn {{active_expired}}" onclick="location.href='/api/reports/Expired/all/all/'">Expired</button>
		<button class="btn {{active_hidden}}" onclick="location.href='/api/reports/Disabled/all/all/'">Hidden</button>
		
		<button class="btn span-right margin-right10" data-toggle="modal" data-target="#emailAllModal">Email All Users</button>
		{% if query_params != "all" %}
		<button class="btn span-right margin-right10" data-toggle="modal" data-target="#emailFilterModal">Email Filtered</button>
		{% endif %}

		<br/>
		<br/>
		{% if profile %}
		<div class="col-md-8 col-md-offset-2" style="margin:auto;">
			<h1>{{profile.user.username}} Profile</h1>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>
							Full name:
						</td>
						<td>
							{{profile.user.first_name}} {{profile.user.last_name}}
						</td>
					</tr>
					<tr>
						<td>
							Country:
						</td>
						<td>
							{{profile.country}}
						</td>
					</tr>
					<tr>
						<td>
							City:
						</td>
						<td>
							{{profile.city}}
						</td>
					</tr>
					<tr>
						<td>
							Date of Birth:
						</td>
						<td>
							{{profile.date_of_birth}}
						</td>
					</tr>
					<tr>
						<td>
							Email:
						</td>
						<td>
							{{profile.user.email}}
						</td>
					</tr>
					<tr>
						<td>
							Phone Number:
						</td>
						<td>
							{{profile.phone_number}}
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>	
		{% endif %}

		<br/>
		<a href='/api/reports/all/all/all/' class="span-right">Reset Filter</a>
		<a href="{% export_url  "xlsx" %}">Export to excel</a>
		<h2>Still Camera</h2>
		{% render_table still_table %}

	    <br />
	    <br />
	    <h2>Video Camera</h2>
	    {% render_table video_table %}

	    <br />
	    <br />
	    <h2>Lenses</h2>
	    {% render_table lens_table %}

	    <br />
	    <br />
	    <h2>Accessories</h2>
		{% render_table accessories_table %}	    

	    <br />
	    <br />
	    <h2>Lightings</h2>
	    {% render_table lighting_table %}

	    <br />
	    <br />
	    <h2>Drons</h2>	
	    {% render_table drone_table %}

	    <div class="modal fade" id="emailAllModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			    <div class="emailmodal-content">
			        <div class="modal-body">
			            <div class="container">
			                <form role="form" method="post" id="email_all_form" enctype="multipart/form-data"  >
			                	{% csrf_token %}
					            <div class="form-group">
					                <label for="subject">
					                    Subject:</label>
					                <input type="text" class="form-control"
					                id="subject" name="subject" required maxlength="50">
					            </div>

					            <div class="form-group">
					                <label for="name">
					                    Message:</label>
					                <textarea class="form-control" type="textarea" name="message"
					                id="message" placeholder="Your Message Here"
					                maxlength="6000" rows="7"></textarea>
					            </div>

					            <div class="form-group">
					                <label for="name">
					                    Image Upload:</label>
					                <input type="file" class="form-control" id="image" name="image">
					            </div>

					            <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Send </button>

					        </form>
			            </div>
			        </div>
			    </div>
			</div>
		</div>

		<div class="modal fade" id="emailFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			    <div class="emailmodal-content">
			        <div class="modal-body">
			            <div class="container">
			                <form role="form" method="post" id="email_filter_form" enctype="multipart/form-data"  >
			                	{% csrf_token %}
					            <div class="form-group">
					                <label for="subject">
					                    Subject:</label>
					                <input type="text" class="form-control"
					                id="filterSubject" name="filterSubject" required maxlength="50">
					            </div>

					            <div class="form-group">
					                <label for="name">
					                    Message:</label>
					                <textarea class="form-control" type="textarea" name="filterMessage"
					                id="filterMessage" placeholder="Your Message Here"
					                maxlength="6000" rows="7"></textarea>
					            </div>

					            <div class="form-group">
					                <label for="name">
					                    Image Upload:</label>
					                <input type="file" class="form-control" id="filterImage" name="filterImage">
					            </div>

					            <button type="submit" class="btn btn-lg btn-success pull-right" id="btnContactUs">Send </button>

					        </form>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>


<script>
    $('#email_all_form').on('submit', function(e){
	  	e.preventDefault();
	  	subject = $('#subject').val();
	  	message = $('#message').val();
	  	//var data = new FormData($(this));
		var data = new FormData($('#email_all_form')[0]);
	  	data.append('file', $('#image')[0].files[0]);
	  	data.append('subject', subject)
	  	data.append('message', message)

	  	var csrftoken = '{{ csrf_token }}';

		$.ajax({
		    url: '/api/notify_all/',
            type: $(this).attr('method'),
            data: data,
            headers: {'X-CSRFToken': csrftoken},
            cache: false,
            contentType: false,
            processData: false,
		    success:function(data) {
		    	alert(data.detail);
		    	$('#emailModal').modal('hide');
		    }
		});
	});


	$('#email_filter_form').on('submit', function(e){
	  	e.preventDefault();
	  	subject = $('#filterSubject').val();
	  	message = $('#filterMessage').val();
	  	var data = new FormData($(this));
	  	data.append('file', $('#filterImage')[0].files[0]);
	  	data.append('subject', subject)
	  	data.append('message', message)
	  	data.append('filter', '{{ query_params }}')

	  	var csrftoken = '{{ csrf_token }}';

		$.ajax({
		    url: '/api/notify_selected/',
            type: $(this).attr('method'),
            data: data,
            headers: {'X-CSRFToken': csrftoken},
            cache: false,
            contentType: false,
            processData: false,
		    success:function(data) {
		    	alert(data.detail);
		    	$('#emailFilterModal').modal('hide');
		    }
		});
	});
</script>


{% endblock content %}
