{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load bootstrap3 %}
{% load reports %}

{% block extrastyles %}
    
{% endblock%}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url 'admin:index' %}">{% trans "Home" %}</a> >{% trans "Report" %}
	</div>
{% endblock %}

{% block content-navbar-collapse %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<button class="btn {{active_all}}" onclick="location.href='/api/reports/all/'">Uploaded</button>
		<button class="btn {{active_sold}}" onclick="location.href='/api/reports/Sold/'">Sold</button>
		<button class="btn {{active_expired}}" onclick="location.href='/api/reports/Expired/'">Expired</button>
		<button class="btn {{active_hidden}}" onclick="location.href='/api/reports/Hidden/'">Hidden</button>

		<h2>Still Camera</h2>
	    <table class="table table-striped reporttable fixtablelayout">	
	    	<caption>Still Camera</caption>
	    	<thead class="table-primary">
	    	<th scope="col">Product ID</th>
	    	<th scope="col">Brand</th>
	    	<th scope="col">Model</th>
	    	<th scope="col">Country</th>
	    	<th scope="col">City</th>
	    	<th scope="col">Price</th>
	    	<th scope="col">User</th>
	    	<th scope="col">Status</th>
	    	<th scope="col">Condition</th>
	    	</thead>
	    	<tbody>
	    	{% for brand in still %}
	    		<tr>
	    			<td>{{ brand.product_id }}</td>
	    			<td>{{ brand.item.cam_type.brand.company }}</td>
	    			<td>{{ brand.item.model }}</td> 
	    			<td>{{ brand.seller.country }}</td>
	    			<td>{{ brand.seller.city }}</td>
	    			<td>{{ brand.price }}</td>
	    			<td><a href="/admin/profiles/profile/{{brand.seller.id}}/change/" target="blank">{{ brand.seller }}</td>
	    			<td>{{ brand.status }}</td>
	    			<td>{{ brand.condition }}</td>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>	
	    <br />
	    <br />
	    <h2>Video Camera</h2>
	    <table class="table table-striped reporttable fixtablelayout">	
	    	<caption>Video Camera</caption>
	    	<thead class="table-primary">
	    	<th scope="col">Product ID</th>
	    	<th scope="col">Brand</th>
	    	<th scope="col">Model</th>
	    	<th scope="col">Country</th>
	    	<th scope="col">City</th>
	    	<th scope="col">Price</th>
	    	<th scope="col">User</th>
	    	<th scope="col">Status</th>
	    	<th scope="col">Condition</th>
	    	</thead>
	    	<tbody>
	    	{% for brand in video %}
	    		<tr>
	    			<td>{{ brand.product_id }}</td>
	    			<td>{{ brand.item.cam_type.brand.company }}</td>
	    			<td>{{ brand.item.model }}</td> 
	    			<td>{{ brand.seller.country }}</td>
	    			<td>{{ brand.seller.city }}</td>
	    			<td>{{ brand.price }}</td>
	    			<td><a href="/admin/profiles/profile/{{brand.seller.id}}/change/" target="blank">{{ brand.seller }}</td>
	    			<td>{{ brand.status }}</td>
	    			<td>{{ brand.condition }}</td>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>	
	    <br />
	    <br />
	    <h2>Lenses</h2>
	    <table class="table table-striped reporttable fixtablelayout">
	    	<caption>Lenses</caption>	
	    	<thead class="table-primary">
	    	<th scope="col">Product ID</th>
	    	<th scope="col">Brand</th>
	    	<th scope="col">Model</th>
	    	<th scope="col">Country</th>
	    	<th scope="col">City</th>
	    	<th scope="col">Price</th>
	    	<th scope="col">User</th>
	    	<th scope="col">Status</th>
	    	<th scope="col">Condition</th>
	    	</thead>
	    	<tbody>	
	    	{% for brand in lenses %}
	    		<tr>
	    			<td>{{ brand.product_id }}</td>
	    			<td>{{ brand.item.type_of_lens.brand.company }}</td>
	    			<td>{{ brand.item.model }}</td> 
	    			<td>{{ brand.seller.country }}</td>
	    			<td>{{ brand.seller.city }}</td>
	    			<td>{{ brand.price }}</td>
	    			<td><a href="/admin/profiles/profile/{{brand.seller.id}}/change/" target="blank">{{ brand.seller }}</td>
	    			<td>{{ brand.status }}</td>
	    			<td>{{ brand.condition }}</td>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>	
	    <br />
	    <br />
	    <h2>Accessories</h2>
	    <table class="table table-striped reporttable fixtablelayout">	
	    	<caption>Accessories</caption>
	    	<thead class="table-primary">
	    	<th scope="col">Product ID</th>
	    	<th scope="col">Brand</th>
	    	<th scope="col">Model</th>
	    	<th scope="col">Country</th>
	    	<th scope="col">City</th>
	    	<th scope="col">Price</th>
	    	<th scope="col">User</th>
	    	<th scope="col">Status</th>
	    	<th scope="col">Condition</th>
	    	</thead>
	    	<tbody>
	    	{% for brand in accessories %}
	    		<tr>
	    			<td>{{ brand.product_id }}</td>
	    			<td>{{ brand.brand }}</td>
	    			<td>{{ brand.model }}</td>
	    			<td>{{ brand.seller.country }}</td>
	    			<td>{{ brand.seller.city }}</td>
	    			<td>{{ brand.price }}</td>
	    			<td><a href="/admin/profiles/profile/{{brand.seller.id}}/change/" target="blank">{{ brand.seller }}</td>
	    			<td>{{ brand.status }}</td>
	    			<td>{{ brand.condition }}</td>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>	
	    <br />
	    <br />
	    <h2>Lightings</h2>
	    <table class="table table-striped reporttable fixtablelayout">	
	    	<caption>Lightings</caption>
	    	<thead class="table-primary">
	    	<th scope="col">Product ID</th>
	    	<th scope="col">Brand</th>
	    	<th scope="col">Model</th>
	    	<th scope="col">Country</th>
	    	<th scope="col">City</th>
	    	<th scope="col">Price</th>
	    	<th scope="col">User</th>
	    	<th scope="col">Status</th>
	    	<th scope="col">Condition</th>
	    	</thead>
	    	<tbody>
	    	{% for brand in lightings %}
	    		<tr>
	    			<td>{{ brand.product_id }}</td>
	    			<td>{{ brand.brand }}</td>
	    			<td>{{ brand.model }}</td>
	    			<td>{{ brand.seller.country }}</td>
	    			<td>{{ brand.seller.city }}</td>
	    			<td>{{ brand.price }}</td>
	    			<td><a href="/admin/profiles/profile/{{brand.seller.id}}/change/" target="blank">{{ brand.seller }}</td>
	    			<td>{{ brand.status }}</td>
	    			<td>{{ brand.condition }}</td>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>	
	    <br />
	    <br />
	    <h2>Drons</h2>	
	    <table class="table table-striped reporttable fixtablelayout">
	    	<caption>Drons</caption>	
	    	<thead class="table-primary">
	    	<th scope="col">Product ID</th>
	    	<th scope="col">Brand</th>
	    	<th scope="col">Model</th>
	    	<th scope="col">Country</th>
	    	<th scope="col">City</th>
	    	<th scope="col">Price</th>
	    	<th scope="col">User</th>
	    	<th scope="col">Status</th>
	    	<th scope="col">Condition</th>
	    	</thead>
	    	<tbody>
	    	{% for brand in drones %}
	    		<tr>
	    			<td>{{ brand.product_id }}</td>
	    			<td>{{ brand.brand }}</td>
	    			<td>{{ brand.model }}</td>
	    			<td>{{ brand.seller.country }}</td>
	    			<td>{{ brand.seller.city }}</td>
	    			<td>{{ brand.price }}</td>
	    			<td><a href="/admin/profiles/profile/{{brand.seller.id}}/change/" target="blank">{{ brand.seller }}</td>
	    			<td>{{ brand.status }}</td>
	    			<td>{{ brand.condition }}</td>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>	
	</div>
</div>

{% endblock content %}