{% load bootstrap3 %}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-6 col-md-offset-3 well well-sm">
    	<h2>Sell your camera</h2>
		<form method="post" class="form" enctype="multipart/form-data" >
			{% csrf_token %}
			  
			

			{% bootstrap_form form %}

		  	<!--input type="submit" name="submit" class="btn btn-primary pull-right" id="submit" value="Signup"-->
		 	<button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    		<div class="clearfix"></div>
		</form>
	</div>
</div>

</body>
</html>
