{% load staticfiles %}
{% load bootstrap3 %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="bgblack">
<div class="construction">
    <div class="content-main">
    	<img src="static/media_cdn/under_construction3.jpg">
    </div>	
</div>

</body>
</html>