.sk-layout__body {
  background: #e7e8e9;
  display: flex;
  margin: 1px auto 0 auto;
  min-width: 600px;
}

.filter--canon {
  padding: 0 0 3px 0;
}


.filter--nikon {
  padding: 0 0 3px 0;
}

.filter--fujifilm {
  padding: 0 0 3px 0;
}

.filter--hasselblad {
  padding: 0 0 3px 0;
}

.filter--leica {
  padding: 0 0 3px 0;
}

.filter--pentax {
  padding: 0 0 3px 0;
}

.filter--panasonic {
  padding: 0 0 3px 0;
}

.filter--olympus {
  padding: 0 0 3px 0;
}

.filter--samsung {
  padding: 0 0 3px 0;
}

.filter--sony {
  padding: 0 0 3px 0;
}

.filter--actioncameras {
  padding: 0 0 3px 0;
}

.filter--compactcameras {
  padding: 0 0 3px 0;
}

.filter--compactpowershotscameras {
  padding: 0 0 3px 0;
}

.filter--dslrcameras {
  padding: 0 0 3px 0;
}

.filter--eosmseriescameras {
  padding: 0 0 3px 0;
}

.filter--galaxycameras {
  padding: 0 0 3px 0;
}

.filter--instax {
  padding: 0 0 3px 0;
}

.filter--leicaprofessionalcameras {
  padding: 0 0 3px 0;
}

.filter--mediumformatcameras {
  padding: 0 0 3px 0;
}

.filter--mirrorlesscameras {
  padding: 0 0 3px 0;
}

.filter--nikon1everdaycameras {
  padding: 0 0 3px 0;
}

.filter--nikon1performancecameras {
  padding: 0 0 3px 0;
}

.filter--nxcameras {
  padding: 0 0 3px 0;
}

.filter--omdcameras {
  padding: 0 0 3px 0;
}

.filter--pointandshoot {
  padding: 0 0 3px 0;
}

.filter--slrcameras {
  padding: 0 0 3px 0;
}

.filter--xmirrorlesscameras {
  padding: 0 0 3px 0;
}

.filter--xpremiumcompactcameras {
  padding: 0 0 3px 0;
}

.filter--canoneos1dx {
  padding: 0 0 3px 0;
}

.filter--canoneos1dmarkiv {
  padding: 0 0 3px 0;
}

.filter--canoneos1dsmarkiii {
  padding: 0 0 3px 0;
}

.filter--nokond40 {
  padding: 0 0 3px 0;
}

.filter--nikond3000 {
  padding: 0 0 3px 0;
}

.filter--nikond3100 {
  padding: 0 0 3px 0;
}

.sk-layout__filters {
    background: transparent;
   	flex:0 0 246px;
    box-shadow: none;
    padding:0px;
  }

  .sk-panel {
      background: transfarent;
      margin-bottom:0px;
  }

  .sk-panel__content {
      max-height:150px;
      overflow-y:scroll;
  }

  .sk-panel__header {
    margin-bottom:0;
    font-size: 1rem;
  }

  .sk-toggle-option.is-active {
    background-color: #f7931e;
    color: white;
    border-color: #f7931e;
  }

  .sk-hits-list-hit__title {
    font-weight: 700;
    color: #165485;
  }

  .sk-hits-list-hit__text {
    font-size: 12px;
    line-height: 14px;
  }

  .sk-hits-list-hit__subtitle {
    font-size: 16px;
  }

  .sk-hits-list-hit__condition {
    font-size: 14px;
    color: #165485;
  }

  .sk-hits-list-hit__sem {

    margin:15px;
    font-size: 22px;
  }

  .sk-hits-list-hit__seme {
    font-size: 22px;
    color: #b34700;
  }

  .sk-hits-list-hit__conditiontext {
    font-size: 14px;
    color: #f7931e;
  }

 .sk-layout__results {
 		margin: 15px;
 		flex: auto;
 		min-height: 600px;
 		background: transparent;
 }

 .sk-results-list {
 	padding:0;
  box-shadow: none;
 }

 .sk-action-bar {
 	background: white;
 	display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
 	margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 5px;
 }

 .sk-action-bar-row:last-child {
 	padding: 10px;
 }

 .sk-hits-list {
  display: inline;
 	flex-flow: column wrap;
 	align-items: flex-start;
 }


 .sk-hits-list__item {
  border: 1px solid #DCDCDC;
 	background: white;
  border-radius: 5px;
 	margin-bottom: 20px;
 }

 .sk-hits-grid, .sk-hits-list {
    margin: 0;
 }

 .sk-layout {
    box-sizing: border-box;
    background: #ededed;
    font-family: Open Sans;
 }

 .sk-item-list-option__count {
    font-size: 12px;
    text-align: right;
    color: #ccc;
    padding-right: 10px;
}

