{% load bootstrap3 %}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-8 col-md-offset-2 well well-sm">
    	<h2>List of Camera</h2>
    	<ul>
		{% for camera in cameras %}
			<li><a href="/camera/edit/{{camera.slug}}" >{{ camera.cam_type }} - {{ camera.model }}</a></i>
		{% endfor %}
		</ul>
	</div>
</div>

</body>
</html>