{% load bootstrap3 %}
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-8 col-md-offset-2 well well-sm">
		<form method="POST" class="form" enctype="multipart/form-data" >
			{% csrf_token %}
			  
			<h2>Camera - update specs, features and images</h2>

			{% bootstrap_form form %}
			
		 	<button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    		<div class="clearfix"></div>
		</form>

	</div>
</div>

</body>
</html>