{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load reports %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div class="container-fluid" style="color:#336633">
        <div class="row">
        <table class="table table ta-center">
            <tr>
                <td colspan="3">
                    {% if maintenance_mode %}
                        <a href="/api/maintenance-off/">
                            <span style="color:red" class="fa-stack fa-3x">
                                <i class="fa fa-power-off" aria-hidden="true"></i> 
                            </span>
                            <h4>{% trans ' Turn OFF Maintenance Mode' %}</h4><br \>
                        </a>
                    {% else %}
                        <a href="/api/maintenance-on/">
                             <span style="color:green" class="fa-stack fa-3x">
                                <i class="fa fa-power-off" aria-hidden="true"></i> 
                            </span>
                            <h4>{% trans ' Turn ON Maintenance Mode' %}</h4><br \>
                        </a>
                    {% endif %}
                    
                </td>
                <td colspan="3">
                    <a href="/api/backup/">
                        <span style="color:#417690" class="fa-stack fa-3x">
                            <i class="fa fa-copy"></i>
                        </span>
                        <h4>{% trans '  Backup Database' %}</h4><br \>
                    </a>
                </td>
                <td colspan="3">
                        <span style="color:#417690" class="fa-stack fa-3x">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x"></i>
                        </span>
                        <h4>{% get_user_count %}{% trans ' Registered Users' %}</h4>
                        
                    </td>
                <td colspan="3">
                    <a href="/api/reports/all/all/all/">
                        <span style="color:#417690" class="fa-stack fa-3x">
                            <i class="fa fa-tasks"></i>
                        </span>
                        <h4>{% trans '  Reports' %}</h4><br \>
                    </a>
                </td>
            </tr>    
            <tr>
                <td colspan="3">
                    <span style="color:#79aec8" class="fa-stack fa-3x">
                        <i class="fa fa-upload"></i>
                    </span>
                    <h4>{% total_item_active %}{% trans ' Active Items' %}</h4>
                    
                </td>
                <td colspan="3">
                    <span style="color:#79aec8" class="fa-stack fa-3x">
                        <i class="fa fa-money-bill-wave"></i>
                    </span>
                    <h4>{% total_item_sold %}{% trans ' Sold Items' %}</h4>
                </td>
                <td colspan="3">
                    <span style="color:#79aec8" class="fa-stack fa-3x">
                        <i class="fa fa-stopwatch"></i>
                    </span>
                    <h4>{% total_item_expired %}{% trans ' Expired Items' %}</h4>
                        
                    </td>
                <td colspan="3">
                    <span style="color:#79aec8" class="fa-stack fa-3x">
                        <i class="fa fa-eye-slash"></i>
                    </span>
                    <h4>{% total_item_hidden %}{% trans ' Hidden Items' %}</h4>
                </td>
            </tr>    
        </table>
        </div>
    </div>

{% if app_list %}
    {% for app in app_list|sort_apps %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.object_name|lower == 'sellcamera' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} uploaded items</div></td>
            {% elif model.object_name|lower == 'sellvideocamera' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} uploaded items</div></td>
            {% elif model.object_name|lower == 'selllenses' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} uploaded items</div></td>
            {% elif model.object_name|lower == 'sellaccessories' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} uploaded items</div></td>
            {% elif model.object_name|lower == 'selllighting' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} uploaded items</div></td>
            {% elif model.object_name|lower == 'selldrone' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} uploaded items</div></td>
            {% elif model.object_name|lower == 'report' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} reports</div></td>
            {% elif model.object_name|lower == 'review' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} reviews</div></td>  
            {% elif model.object_name|lower == 'profile' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} profiles</div></td>
            {% elif model.object_name|lower == 'block' %}
                <td><div style="color:#447e9b;">{% get_model_count model.admin_url %} email address</div></td>       
            {% endif %}

            {% if model.object_name|lower == 'sellcamera' %}
                <td><div style="color:#447e9b;">{% get_model_active_count model.admin_url %} active</div></td>
            {% elif model.object_name|lower == 'sellvideocamera' %}
                <td><div style="color:#447e9b;">{% get_model_active_count model.admin_url %} active</div></td>
            {% elif model.object_name|lower == 'selllenses' %}
                <td><div style="color:#447e9b;">{% get_model_active_count model.admin_url %} active</div></td>
            {% elif model.object_name|lower == 'sellaccessories' %}
                <td><div style="color:#447e9b;">{% get_model_active_count model.admin_url %} active</div></td>
            {% elif model.object_name|lower == 'selllighting' %}
                <td><div style="color:#447e9b;">{% get_model_active_count model.admin_url %} active</div></td>
            {% elif model.object_name|lower == 'selldrone' %}
                <td><div style="color:#447e9b;">{% get_model_active_count model.admin_url %} active</div></td>
            {% endif %}

            {% if model.object_name|lower == 'sellcamera' %}
                <td><div style="color:#447e9b;">{% get_model_sold_count model.admin_url %} sold</div></td>
            {% elif model.object_name|lower == 'sellvideocamera' %}
                <td><div style="color:#447e9b;">{% get_model_sold_count model.admin_url %} sold</div></td>
            {% elif model.object_name|lower == 'selllenses' %}
                <td><div style="color:#447e9b;">{% get_model_sold_count model.admin_url %} sold</div></td>
            {% elif model.object_name|lower == 'sellaccessories' %}
                <td><div style="color:#447e9b;">{% get_model_sold_count model.admin_url %} sold</div></td>
            {% elif model.object_name|lower == 'selllighting' %}
                <td><div style="color:#447e9b;">{% get_model_sold_count model.admin_url %} sold</div></td>
            {% elif model.object_name|lower == 'selldrone' %}
                <td><div style="color:#447e9b;">{% get_model_sold_count model.admin_url %} sold</div></td>
            {% endif %}

            
            {% if model.object_name|lower == 'sellcamera' %}
                <td><div style="color:#447e9b;">{% get_model_hidden_count model.admin_url %} hidden</div></td>
            {% elif model.object_name|lower == 'sellvideocamera' %}
                <td><div style="color:#447e9b;">{% get_model_hidden_count model.admin_url %} hidden</div></td>
            {% elif model.object_name|lower == 'selllenses' %}
                <td><div style="color:#447e9b;">{% get_model_hidden_count model.admin_url %} hidden</div></td>
            {% elif model.object_name|lower == 'sellaccessories' %}
                <td><div style="color:#447e9b;">{% get_model_hidden_count model.admin_url %} hidden</div></td>
            {% elif model.object_name|lower == 'selllighting' %}
                <td><div style="color:#447e9b;">{% get_model_hidden_count model.admin_url %} hidden</div></td>
            {% elif model.object_name|lower == 'selldrone' %}
                <td><div style="color:#447e9b;">{% get_model_hidden_count model.admin_url %} hidden</div></td>
            {% endif %}

            {% if model.object_name|lower == 'sellcamera' %}
                <td><div style="color:#447e9b;">{% get_model_expired_count model.admin_url %} expired</div></td>
            {% elif model.object_name|lower == 'sellvideocamera' %}
                <td><div style="color:#447e9b;">{% get_model_expired_count model.admin_url %} expired</div></td>
            {% elif model.object_name|lower == 'selllenses' %}
                <td><div style="color:#447e9b;">{% get_model_expired_count model.admin_url %} expired</div></td>
            {% elif model.object_name|lower == 'sellaccessories' %}
                <td><div style="color:#447e9b;">{% get_model_expired_count model.admin_url %} expired</div></td>
            {% elif model.object_name|lower == 'selllighting' %}
                <td><div style="color:#447e9b;">{% get_model_expired_count model.admin_url %} expired</div></td>
            {% elif model.object_name|lower == 'selldrone' %}
                <td><div style="color:#447e9b;">{% get_model_expired_count model.admin_url %} expired</div></td>
            {% endif %}


            

            {% if model.add_url and model.object_name|lower != 'sellcamera' and model.object_name|lower != 'sellvideocamera' and model.object_name|lower != 'selllenses' and model.object_name|lower != 'sellaccessories' and model.object_name|lower != 'selllighting' and model.object_name|lower != 'selldrone'%}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% endif %}

            {% if model.add_url and model.object_name|lower != 'sellcamera' and model.object_name|lower != 'sellvideocamera' and model.object_name|lower != 'selllenses' and model.object_name|lower != 'sellaccessories' and model.object_name|lower != 'selllighting' and model.object_name|lower != 'selldrone'%}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
